* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: bold 28px Arial, sans-serif;
}

#calculator {
  width: 610px;
  height: auto;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: #446879;
  border-radius: 3px;
}

.top span.clear {
  float: left;
}

.top .result {
  height: 72px;
  width: 424px;
  float: right;
  padding: 0 10px;
  background: rgb(111, 179, 224);
  border-radius: 3px;
  font-size: 34px;
  line-height: 40px;
  color: white;
  text-align: right;
  letter-spacing: 1px;
}

.keys,
.top {
  overflow: hidden;
}

.keys span,
.top span.clear {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 132px;
  height: 72px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 14px 22px 0;
  color: #888;
  line-height: 72px;
  text-align: center;
}

.keys span.operator {
  background: #adfdc8;
  margin-right: 0;
}

.keys span.eval {
  background: #f7c68e;
  color: #888e5f;
}

.top span.clear {
  background: #ff9fa8;
  color: white;
}
